<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Your Interest</title>

    <link rel="stylesheet" href="/index.css">
    <script src="/angular/angular.min.js"></script>
    <script src="/index.js"></script>
</head>

<body ng-controller="RegCtrl as regCtrl">
    <h1>Register Your Interest</h1>
    <form name="regForm" novalidate ng-submit="regCtrl.submit()">
        <div ng-class="{ error: regCtrl.isValid(regForm, 'name') }">
            <label>Name</label>
            <input id="name" name="name" type="text" ng-model="regCtrl.name" required>
        </div>
        <div ng-class="{ error: regCtrl.isValid(regForm, 'email') }">
            <label>Email</label>
            <input id="email" name="email" type="email" ng-model="regCtrl.email" required>
        </div>
        <div>
            <button type="button" ng-click="regCtrl.submit()" ng-disabled="regForm.$invalid">Submit</button>
        </div>
        <div>{{ regCtrl.msg }}</div>
        <div class="error" ng-if="regCtrl.isDuplicate">
            Duplicate.
        </div>
</body>

</html>